<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  <servlet>
  		<servlet-name>world</servlet-name>
  		<servlet-class>com.controller.LoginAccess</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>world</servlet-name>
  		<url-pattern>/log</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  		<servlet-name>set</servlet-name>
  		<servlet-class>com.CountryInformation.CountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>set</servlet-name>
  		<url-pattern>/set</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  		<servlet-name>delete</servlet-name>
  		<servlet-class>com.CountryInformation.DeleteName</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>delete</servlet-name>
  		<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <!-- <welcome-file-list>
  		<welcome-file>CountryHome.html</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
  		<welcome-file>home.html</welcome-file>
  </welcome-file-list>
  

  
  <servlet>
  		<servlet-name>Hello World</servlet-name>
  		<servlet-class>com.EmployeeDetails.EmployeeConFtoS</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>Hello World</servlet-name>
  		<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>abcd</servlet-name>
  		<servlet-class>com.Register.RegisterFile</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>abcd</servlet-name>
  		<url-pattern>/save</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>get</servlet-name>
  		<servlet-class>com.Register.GetStudentById</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>get</servlet-name>
  		<url-pattern>/get</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>get1</servlet-name>
  		<servlet-class>com.EmployeeDetails.EmployeeGet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>get1</servlet-name>
  		<url-pattern>/get1</url-pattern>
  </servlet-mapping>
 
  
  
  <servlet>
  		<servlet-name>name</servlet-name>
  		<servlet-class>com.controller.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>name</servlet-name>
  		<url-pattern>/action</url-pattern>
  </servlet-mapping> -->
</web-app>


