@charset "ISO-8859-1";
.card{
	color:white;
	font-family:"roboto";
	font-size:34px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	padding-top:20px;
}
.card1{
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN1yuxOBRBtEZQlhhv93r22qzNZ3nXjX5qFGyD3ABFVA&usqp=CAU&ec=48665698");
	height:200px;
}
.card2{
	color:RosyBrown;
	color:Olive;
	text-align:center;
}
.card3{
	border-radius:5px;
	width:100px;
	height:30px;
	background-color:#008080;
	color:white;
}